.space-between-elements{
  padding:20px;
  margin: 20px;
}

*, *:before, *:after {
    box-sizing: border-box;
  }

.send-button{
    background-color: #1537bc; 
  border: none;
  color: white;
  padding: 7.5px 16px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  border-radius:50px;
}

.border-radius-input{
    border-radius: 12px;
}

.align-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.background-image-maison {
  background-image:   linear-gradient(to right, rgba(255, 246, 252, 0.645), rgba(22, 15, 117, 0.821)),url("https://leroy-du-ballon.fr/maison.jpg");
  max-width: 100%;
  height: auto;
  width: 100%;
  max-height: 100%;
  height: 100%;

}



