.header{
  display: flex;
  justify-content: space-around;
  align-items: center;  
}
.header-button{
  background-color: #1537bc; 
  border: none;
  color: white;
  padding: 7.5px 16px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  width: 164px;
  height: 38px;
  border-radius:50px;

}

.button {
    background-color: #304cbd; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius:50px;
    width: 150x;
    display: flex;
    justify-content: center;
    align-items: center;
    

  }

  .button-color-red{
    background-color: #FF400A;
  }

  .button-color-orange{
    background-color: #FF8E00;
  }

  .center-content{
    display: flex;
    justify-content: center;
  }

  .adjust-content {
    margin: auto;
    border: 3px solid #4E7EFF;
    box-sizing: border-box;
    padding: 10px;
    flex-direction: column;

  }
  .color-white-text{
    color: white;
  }
  
  #font-size-contact-leroy {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
  }
  .centerbutton2 {
    margin: auto;
    border: 3px solid #4E7EFF;
    box-sizing: border-box;
    padding: 10px;

  }

  

  .backgroundimagetechnicien {
    background-image:   linear-gradient(to right, rgba(255, 246, 252, 0.645), rgba(22, 15, 117, 0.821)),url("D:/ballon/technicien.jpg");
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    width: 100%;
    background-size: auto;

    


  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    
  }

  body{
    margin: 0;
  }

  footer {
    position: fixed;
    height: 50px;
    background: #666;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;

  }
  
  @media screen and (max-width: 600px) {
    .centerbutton2  {
      flex-direction: column;
      float: none;
    }
    .description-button{
      display: none;
    }
  }
    @media screen and (max-width: 490px) {
      .header  {
        flex-direction: column;
        float: none;
        width: 100%;
      }
      h1{
        margin-left: 15px;

      }
      p {
        margin-left: 10px;
      }
     
    }
  